@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
* {
  box-sizing: border-box;
}

/* PALETTE */
/* feature under revision */
.show-chart-btn {
  display: none !important;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./wearmask.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.App main {
  height: inherit;
}

header {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-nav {
  align-items: center;
}

.navbar-collapse {
  justify-content: space-between;
}

.navbar-ilinks a {
  margin: 5px;
}

.bg-dark {
  background-color: transparent !important;
}

main .jumbotron {
  background-color: rgba(255, 255, 255, 0.5);
}

.title {
  margin-bottom: 0;
}

.display-4 {
  font-size: 2.5rem;
}

.display-date {
  text-transform: uppercase;
  font-size: smaller;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 250px;
  margin-bottom: 0rem !important;
  border: 0px;
}

.loading-box {
  text-align: center;
}

.show-chart-btn {
  text-align: center;
}

.chart-view-container {
  display: none;
}

li.dropdown {
  display: none;
}

/* boxes colors */
.bg-warning {
  background-color: #000000;
  background-image: linear-gradient(90deg, #000000 0%, #ffff02 100%);
}

.bg-success {
  background-color: #000000;
  background-image: linear-gradient(90deg, #000000 0%, #00ff00 100%);
}

.bg-danger {
  background-color: #000000;
  background-image: linear-gradient(90deg, #000000 0%, #ff0000 100%);
}

/*
.chart-container {
    position: relative;
    height:40vh;
    width:80vw
}


#myChart {
    display: block;
    width: 512px;
    height: 216px;
}
*/
footer {
  padding: 5px;
  font-size: small;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  width: 100%;
}
footer p {
  text-align: center;
  margin: 0px;
}
footer a {
  color: #ffc105;
}
footer a:hover {
  text-decoration: none;
  color: #28a746;
}

@media (min-width: 768px) {
  .chart-view-container {
    margin: auto;
    width: 50%;
    height: 50vh;
    position: relative;
  }
}
@media (max-width: 1000px) {
  .card {
    width: auto;
    margin-bottom: 1rem !important;
  }
}
@media (max-width: 768px) {
  .App {
    height: auto;
  }
  .App main {
    display: block;
  }

  .navbar-nav {
    align-items: flex-start;
  }

  .title {
    padding-right: 0px;
    padding-left: 0px;
  }

  .display-container {
    margin-bottom: 1rem !important;
  }

  .card-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .card {
    width: 100%;
    margin-bottom: 1rem !important;
  }
}
@media (max-width: 992px) {
  #navbarNav {
    margin-top: 5px;
  }

  ul.navbar-nav li {
    width: 100%;
  }

  .navbar-ilinks {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  .navbar-ilinks a {
    width: 49%;
    margin: 5px 0px;
  }
}
@media (min-width: 1200px) {
  header {
    background-color: #000000;
  }

  nav {
    width: 1200px;
    margin: auto;
  }

  main {
    display: flex;
  }
  main div.title, main div.chart-view-container {
    width: 1200px;
    margin: auto;
  }
}

/*# sourceMappingURL=App.css.map */
