@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");


* { box-sizing: border-box;}

body {}

#root {}

.App {
    .header {}
    .main {}
}

.navbar {}

.title {
    
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 250px;
}